:root{
    --dark-font: #101828;
    --light-font: #667085;
}

body{
    font-family: 'Inter', sans-serif;
    text-align: center;
    min-width: 370px;
}

h1{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: var(--dark-font);
}

.proimg{
    max-width: 10%;
    max-height: 50%;
}

#slack{
    display: none;
}

.link-arr{
    height: 576px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: normal;
    align-content: normal;
    margin: 56px 144px 48px;

}

.btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: var(--dark-font);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    padding-top: 24px;
    padding-bottom: 24px;
    background: #EAECF0;
    border: solid #EAECF0 1px;
    text-decoration: none;
    width: 100%;
}

.btn:hover {
    background: #bfbfbf;
    text-decoration: none;
}

.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: normal;
    align-content: stretch;
    color: var(--light-font);
    margin-top: 112px;
    margin: 48px 144px;
}

.foot-txt{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.gap{
    margin-right: 24px;
}

@media screen and (max-width: 700px) {
    .foot-img{
        height: 22px;
    }

    .footer{
        margin: 48px 50px;
    }

    .btn{
        font-size: 16px;
    }

    .foot-txt{
        font-size: 14px;
    }
    .link-arr{
        height: 528px;
        margin: 48px 50px 32px;
    }
}

@media screen and (max-width: 450px) {
    .footer{
        display: none;
    }
    .link-arr{
        height: 528px;
        margin: 32px 16px 24px;
    }

    .btn{
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;

    }
}